<% articles.each do |article| %>
  <entry>
    <title type="html"><%= titlecase(xml_safe(article[:title])) %></title>
    <link href="<%= cfg.domain_matter.permalink_url % article[:slug] %>" rel="alternate" type="text/html" title="<%= titlecase(xml_safe(article[:title])) %>"/>
    <published><%= as_rfc3339(article[:published]) %></published>
    <updated><%= as_rfc3339(article[:published], article[:updated]) %></updated>
    <id><%= cfg.domain_matter.permalink_url % article[:slug] %></id>
    <author><name>YOUR NAME</name></author>
    <content type="html" xml:base="<%= cfg.domain_matter.permalink_url % article[:slug] %>">
      <![CDATA[
        <% article[:bodies].each do |body| %>
          <%= markdown.render(body[:body]) %>
        <% end %>
      ]]>
    </content>
  </entry>
<% end %>
