<?xml version="1.0"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <generator uri="https://github.com/evaneykelen/msgtrail">MsgTrail Static Blog Generator</generator>
  <link href="<%= cfg.domain_matter.feed_url %>" rel="self" type="application/atom+xml"/>
  <link href="<%= cfg.domain_matter.site_url %>" rel="alternate" type="text/html"/>
  <updated><%= now_as_rfc3339 %></updated>
  <id><%= cfg.domain_matter.feed_url %></id>
  <title type="html"><%= titlecase(cfg.head_matter.blog_title) %></title>
  <subtitle><%= titlecase(cfg.head_matter.blog_sub_title) %></subtitle>
  <author><name>YOUR NAME</name></author>
  <%= yield %>
</feed>
